
<h1>Gothons War</h1>

<form n="/hello" method="POST">
	The gothons of Planet Percal #25 have invaded your ship and destroyed your entire crew.You are the last surviving member and your last mission is to get the neutron destruct bomb from the Weapons Armory, put it in the bridge, and blow the ship up after getting into an escape pod.thons of Planet Percal #25 have invaded your ship and destroyed your entire crew.You are the last surviving member and your last mission is to get the neutron destruct bomb from the Weapons Armory, put it in the bridge,and blow the ship up after getting into an escape pod.	
	which one will you choose?
	a.shoot
	b.dodge
	c.tell a joke
	A Greeting:<input type="text" name="greet">
	<br/>
	Your Name:<input type="text" name="name">
	<br/>
	<input type="submit">
</form>

